/*
2.(3pts) Agregar los estilos correspondientes utilizando CSS y media queries (NO bootstrap): 

a. La sección main se comporte como una grilla de dos filas y dos columnas. 
La sección header debe ocupar la primera fila. La sección nav debe ocupar 
la primer columna de la segunda fila. La sección con id= principal debe ocupar 
la segunda columna de la segunda fila. 

b. La div con id= series debe mostrar a sus elementos hijos en filas de cuatro 
columnas . Cuando la pantalla mida menos de 900 pixeles , deben ser dos columnas. 
Cuando la pantalla mida menos de 550 pixeles, debe ser una sola columna.
*/

main{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
}

nav{
    grid-column: 1/2;
    grid-row: 2/3;
}

#principal{
    grid-column: 2/3;
    grid-row: 2/3;
}

#series{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 900px){
    #series{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px){
    #series{
        grid-template-columns: repeat(1, 1fr);
    }
}